.clear {
  clear: both; }

.df-caption {
  text-align: center;
  font-size: 22px;
  color: #161616;
  padding: 25px 0;
  font-family: "Conv_pt-serif_[allfont.ru]"; }

.df-left-blok {
  max-width: 370px;
  border: 2px solid #cccccc;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px; }
  .df-left-blok img {
    display: inline-block;
    padding-top: 65px;
    padding-bottom: 50px; }

.df-right-blok {
  font-size: 15px;
  color: #161616;
  font-family: "Conv_pt-serif_[allfont.ru]";
  line-height: 20px;
  margin-bottom: 30px;
  max-width: 345px; }
  .df-right-blok .df-first-cap {
    font-size: 22px; }
  .df-right-blok .df-first-box, .df-right-blok .df-second-box, .df-right-blok .df-third-box {
    padding-bottom: 20px; }
  .df-right-blok span a {
    color: #161616; }

.df-contacts-caption {
  font-size: 42px !important;
  line-height: 32px;
  text-align: center;
  color: #161616;
  padding: 25px 0;
  font-family: "Conv_pt-serif_[allfont.ru]"; }

.df-contacts {
  font-family: "OpenSans-Regular";
  font-size: 15px;
  line-height: 20px;
  color: #161616;
  max-width: 600px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 20px; }
  .df-contacts .df-box1 {
    padding-bottom: 10px; }

.df-map {
  height: 785px;
  width: 100%;
  margin-bottom: 25px; }

.df-article-caption, .df-about-caption {
  color: #161616;
  font-family: "Conv_pt-serif_[allfont.ru]";
  font-size: 42px;
  text-align: center;
  margin: 20px 0; }

.df-article {
  width: 100%;
  min-width: 245px; }
  .df-article .df-art-box {
    background: #ebebeb;
    border-radius: 5px; }
    .df-article .df-art-box ul {
      padding: 14px 30px 14px 31px; }
      .df-article .df-art-box ul li a {
        font-family: "Lato-Bold";
        font-size: 15px;
        color: #161616;
        display: inline-block;
        padding: 9px 0; }
    .df-article .df-art-box .df-last {
      background: #7ec142;
      color: #fff;
      font-family: "Lato-Bold";
      font-size: 15px;
      width: 100%;
      height: 60px;
      display: inline-block;
      padding: 10px 45px 10px 30px;
      margin-top: 32px;
      border-radius: 0px 0px 5px 5px; }

.df-about .df-about-text {
  font-size: 15px;
  line-height: 20px;
  color: #161616;
  font-family: "OpenSans-Regular"; }
  .df-about .df-about-text p {
    margin-bottom: 20px; }

.df-img-about img {
  width: 100%;
  height: 300px; }

@media only screen and (min-width: 480px) {
  .df-contacts .df-box1 {
    width: 50%;
    float: left;
    padding-bottom: 10px; }
  .df-contacts .df-box2 {
    width: 33%;
    float: right; } }
@media only screen and (min-width: 768px) {
  .df-img-about {
    margin: 0 auto;
    text-align: center; }
    .df-img-about img {
      width: 50%;
      height: 300px; } }
@media only screen and (min-width: 992px) {
  .df-caption, .df-contacts-caption {
    padding: 43px 0 !important; }

  .df-left-blok {
    margin-right: 0px; }

  .df-first-box, .df-second-box, .df-third-box {
    padding-bottom: 37px; }

  .df-contacts {
    max-width: 600px; }
    .df-contacts .df-box2 {
      width: 40%; }

  .df-article {
    width: 20%;
    float: right;
    min-width: 245px; }
    .df-article .df-article-caption {
      margin-bottom: 35px; }

  .df-about {
    float: left;
    width: 70%; }
    .df-about .df-about-caption {
      margin-bottom: 25px; }

  .df-max-width {
    width: 100%;
    padding: 0 100px;
    max-width: 1115px;
    margin: 0 auto; }

  .df-img-about {
    width: 100%;
    margin-top: 48px;
    margin-bottom: 220px; }
    .df-img-about img {
      float: left;
      height: 300px;
      display: inline-block; }
    .df-img-about .dfimg1 {
      width: 22%; }
    .df-img-about .dfimg2 {
      width: 41%; }
    .df-img-about .dfimg3 {
      width: 37%; }
    .df-img-about .dfimg4, .df-img-about .dfimg5, .df-img-about .dfimg6 {
      width: 33.27%; } }
@media only screen and (min-width: 1248px) {
  .df-contacts {
    max-width: 630px;
    margin-bottom: 50px; }
    .df-contacts .df-box2 {
      width: 43%; } }

/*# sourceMappingURL=style5.css.map */
