


/*================ Footer ================*/

.dd-footer{
	background:#FFFFFF;
	border-top:1px solid #C7C7C7;
	.dd-footer-left, .dd-search-box, .dd-soc-wrap{
		padding-top:29px;
	}
	.container{
		max-width: 920px;
		.dd-footer-box-wrap{
			max-width: 774px;
			text-align: center;
			.dd-footer-left{
				font-family: "OpenSans-Regular";
				font-size: 13px;
				color:#161616;
			}
			.dd-search-box{
			    width: 100%;
				.dd-form{
				    display: block;
				    position: relative;
					input[type="text"]{
						outline: none;
					    width: 100%;
					    height: 31px;
					    border: 1px solid #cbd1d6;
					    border-radius: 9px;
					    line-height: 51px;
					    padding: 0px 17px;
					    z-index: 10;
					    font-size: 13px;
					    color: #161616;
					    max-height: 100%;
					    max-width: 100%;
					    letter-spacing: .02em;
					    font-family: "OpenSans-Regular";
					}
					input[type="submit"]{
					    position: absolute;
					    z-index: 50;
					    width: 17px;
					    height: 17px;
					    border: none;
					    right: 11px;
					    top: 8px;
					    background: url(../img/dd-lupa.png) no-repeat top center;
					}
				}
			}
			.dd-soc-wrap{
				width: 72px;
				margin:0 auto;
				.dd-soc{
					float: left;
				}
				.dd-soc:first-child{
					margin-right: 18px; 
				}
			}
			.dd-box-txt-wrap{
				.dd-box-txt{
					padding-bottom:51px;
					span{
						font-family: "OpenSans-Regular";
						font-size: 13px;
					}
				}
				.dd-box-txt:first-child{
					span:nth-child(2){
						display: block;
					}
					.dd-firstspan{
						span{
							font-family: "OpenSans-Bold";
						}
					}
					span:nth-child(3){
						a{
							color:#161616;
							text-decoration: underline;
						}
					}
				}
			}	
		}	
	}    
}

/*============== end Footer ==============*/

/*================ Slider ================*/
.dd-sub-menu-wrapper{
	.dd-sub-menu{
		text-align: center;
		ul{
			li{
				//display: inline-block;
				margin-bottom: 20px;
				a{
					text-transform: uppercase;
					font-family: "Lato-Bold";
					font-size: 22px;
					color:#161616;
					padding:14px 18px;
					transition: 0.5s;
				}
				a:hover{
					color:#fff;
					background:#282761;
					border-radius:5px;
				}
			}
		}
	}
}
.padding-36{
	padding-bottom:36px;
}
.dd-slider-face{
	.dd-slider{
		.item{
			height: 390px;
			width: 100%;
		}
	}
	.dd-face-content-wrap{
		max-width: 778px;
		margin:0 auto;
		margin-top: 30px;
		.dd-first-ul{
			text-align: center;
			li{
				padding-bottom:19px;
				a{
					font-family: "Lato-Bold";
					font-size: 18px;
					color:#161616;
					transition: 0.5s;
					padding:9px 12px;
				}
				a:hover{
					color:#fff;
					background:#282761;
					border-radius:5px;
					padding:9px 12px;
				}
				.active2{
					color:#fff;
					background:#282761;
					border-radius:5px;
					padding:9px 12px;
				}
			}
		}
		.dd-title{
			width: 100%;
			text-align:center;
			padding-bottom:15px;
			span{
				font-family: "Conv_pt-serif_[allfont.ru]";
				font-size: 42px;
				color:#161616;
			}
		}
		.dd-txt-table-wrap{
			.dd-table-element1{
				padding-bottom:10px;
				font-family: "Conv_pt-serif_[allfont.ru]";
				font-size: 22px;
				color:#161616;
			}
			.dd-table-element2{
				font-family: "OpenSans-Regular";
				font-size: 15px;
				color:#161616;
			}
		}
		.dd-dowload{
			font-family: "OpenSans-Regular";
			font-size: 15px;
			text-align: center;
		}
	}
	.dd-face-content-wrap2{
		max-width:856px;
		margin:0 auto;
		padding:41px; 
		background:#EBEBEB;
		border-radius:5px;
		.dd-table-element1{
			font-family: "Conv_pt-serif_[allfont.ru]";
			font-size: 22px;
			color:#161616;
		}
		.dd-table-element2{
			font-family: "OpenSans-Regular";
			font-size: 15px;
			color:#161616;
			.dd-grey-el{
				border-bottom:1px solid #C7C7C7;
				padding-bottom:9px;
				padding-top:15px;
			}
			.dd-grey-el:last-child{
				border-bottom:none;
			}
		}
	}
	.dd-face-content-wrap3{
		padding:0px !important;
		.dd-table-blue{
			background:#282761;
			border-radius:5px;
			padding:41px;
			color:#fff;
			.dd-table-left{
				width: 124px;
				font-family: "Conv_pt-serif_[allfont.ru]";
				font-size: 22px;
				color:#fff;
				float: left;

			}
			.dd-my-table{
				float: left;
				width:535px;
				margin-left:115px;
				.dd-f-td{
					font-family: "Conv_MyriadPro-Regular";
					font-size: 18px;
				}
				.dd-n-td{
					font-family: "OpenSans-Semibold";
					font-size: 18px;
					color:#fff;
					text-align: right;
				}
				td{
					border-bottom: 1px solid #fff;
					padding-bottom:12px;
					padding-bottom:12px;
				}
				.dd-f-td2{
					border-bottom:none;
				}
				.dd-n-td2{
					border-bottom:none;
				}
			}
		}
	}
}

/*========================================*/

@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {

	.dd-slider-face{
		.dd-slider{
			.item{
				height: 390px;
				width: 100%;
			}
		}
		.dd-face-content-wrap{
			.dd-first-ul{
				li{
					display: inline-block;
				}
			}
		}
	}

	.dd-sub-menu-wrapper{
		.dd-sub-menu{
			text-align: center;
			ul{
				li{
					display: inline-block;
					margin-bottom: 20px;
					a{
						text-transform: uppercase;
						font-family: "Lato-Bold";
						font-size: 22px;
						color:#161616;
						padding:14px 18px;
					}
					a:hover{
						color:#fff;
						background:#282761;
						border-radius:5px;
					}
					.active{
						color:#fff;
						background:#282761;
						border-radius:5px;
					}
				}
			}
		}
	}
}

@media only screen and (min-width : 992px) {
	.dd-face-content-wrap2{
		display: table;
		.dd-table-element1{
			width: 30%;
			display: table-cell;
		}
		.dd-table-element2{
			width: 70%;
			display: table-cell;
		}
	}
	.dd-face-content-wrap{
		.dd-txt-table-wrap{
			display: table;
			.dd-table-element1{
				width: 30%;
				display: table-cell;
			}
			.dd-table-element2{
				width: 70%;
				display: table-cell;
			}
		}
	}	

	.dd-footer{
		.container{
			.dd-footer-box-wrap{
				.dd-footer-left{
					float: left;
				}
				.dd-search-box{
				    float: left;
				    padding: 23px 20px 5px;
				    width: 290px;
				}
				.dd-soc-wrap{
					float: right;
					width: 72px;
					.dd-soc{
						float: left;
					}
				}
				.dd-box-txt-wrap{
					margin-top: 37px;
					.dd-box-txt{
						text-align: left;
						float: left;
						width: 211px;

					}
					.dd-box-txt:nth-child(2){
						margin-left: 35px;
					}
					.dd-box-txt:nth-child(3){
						float: right;
						margin-right: 20px;
					}
				}	
			}
		}
	}			
}

@media only screen and (min-width : 1248px) {
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    //outline: 5px solid red;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  
}
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
}
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
}