/*================ Footer ================*/
.dd-footer {
  background: #FFFFFF;
  border-top: 1px solid #C7C7C7; }
  .dd-footer .dd-footer-left, .dd-footer .dd-search-box, .dd-footer .dd-soc-wrap {
    padding-top: 29px; }
  .dd-footer .container {
    max-width: 920px; }
    .dd-footer .container .dd-footer-box-wrap {
      max-width: 774px;
      text-align: center; }
      .dd-footer .container .dd-footer-box-wrap .dd-footer-left {
        font-family: "OpenSans-Regular";
        font-size: 13px;
        color: #161616; }
      .dd-footer .container .dd-footer-box-wrap .dd-search-box {
        width: 100%; }
        .dd-footer .container .dd-footer-box-wrap .dd-search-box .dd-form {
          display: block;
          position: relative; }
          .dd-footer .container .dd-footer-box-wrap .dd-search-box .dd-form input[type="text"] {
            width: 100%;
            height: 31px;
            border: 1px solid #cbd1d6;
            border-radius: 9px;
            line-height: 51px;
            padding: 0px 17px;
            z-index: 10;
            font-size: 13px;
            color: #161616;
            max-height: 100%;
            max-width: 100%;
            letter-spacing: .02em;
            font-family: "OpenSans-Regular"; }
          .dd-footer .container .dd-footer-box-wrap .dd-search-box .dd-form input[type="submit"] {
            position: absolute;
            z-index: 50;
            width: 17px;
            height: 17px;
            border: none;
            right: 11px;
            top: 8px;
            background: url(../img/dd-lupa.png) no-repeat top center; }
      .dd-footer .container .dd-footer-box-wrap .dd-soc-wrap {
        width: 72px;
        margin: 0 auto; }
        .dd-footer .container .dd-footer-box-wrap .dd-soc-wrap .dd-soc {
          float: left; }
        .dd-footer .container .dd-footer-box-wrap .dd-soc-wrap .dd-soc:first-child {
          margin-right: 18px; }
      .dd-footer .container .dd-footer-box-wrap .dd-box-txt-wrap .dd-box-txt {
        padding-bottom: 51px; }
        .dd-footer .container .dd-footer-box-wrap .dd-box-txt-wrap .dd-box-txt span {
          font-family: "OpenSans-Regular";
          font-size: 13px; }
      .dd-footer .container .dd-footer-box-wrap .dd-box-txt-wrap .dd-box-txt:first-child span:nth-child(2) {
        display: block; }
      .dd-footer .container .dd-footer-box-wrap .dd-box-txt-wrap .dd-box-txt:first-child .dd-firstspan span {
        font-family: "OpenSans-Bold"; }
      .dd-footer .container .dd-footer-box-wrap .dd-box-txt-wrap .dd-box-txt:first-child span:nth-child(3) a {
        color: #161616;
        text-decoration: underline; }

/*============== end Footer ==============*/
@media only screen and (min-width: 992px) {
  .dd-footer .container .dd-footer-box-wrap .dd-footer-left {
    float: left; }
  .dd-footer .container .dd-footer-box-wrap .dd-search-box {
    float: left;
    padding: 23px 20px 5px;
    width: 290px; }
  .dd-footer .container .dd-footer-box-wrap .dd-soc-wrap {
    float: right;
    width: 72px; }
    .dd-footer .container .dd-footer-box-wrap .dd-soc-wrap .dd-soc {
      float: left; }
  .dd-footer .container .dd-footer-box-wrap .dd-box-txt-wrap {
    margin-top: 37px; }
    .dd-footer .container .dd-footer-box-wrap .dd-box-txt-wrap .dd-box-txt {
      text-align: left;
      float: left;
      width: 211px; }
    .dd-footer .container .dd-footer-box-wrap .dd-box-txt-wrap .dd-box-txt:nth-child(2) {
      margin-left: 35px; }
    .dd-footer .container .dd-footer-box-wrap .dd-box-txt-wrap .dd-box-txt:nth-child(3) {
      float: right;
      margin-right: 20px; } }

/*# sourceMappingURL=style4.css.map */
